@font-face {
  font-family: 'icomoon';
  src:  url('../img/vsevn-icon-fonts/vsevn-icon.eot?kncj0i');
  src:  url('../img/vsevn-icon-fonts/vsevn-icon.eot?kncj0i#iefix') format('embedded-opentype'),
    url('../img/vsevn-icon-fonts/vsevn-icon.ttf?kncj0i') format('truetype'),
    url('../img/vsevn-icon-fonts/vsevn-icon.woff?kncj0i') format('woff'),
    url('../img/vsevn-icon-fonts/vsevn-icon.svg?kncj0i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i-ads:before {
  content: "\e900";
}
.icon-i-ads-h:before {
  content: "\e901";
}
.icon-i-company:before {
  content: "\e902";
}
.icon-i-company-h:before {
  content: "\e903";
}
.icon-i-email:before {
  content: "\e904";
}
.icon-i-email-h:before {
  content: "\e905";
}
.icon-i-envelope:before {
  content: "\e906";
}
.icon-i-envelope-h:before {
  content: "\e907";
}
.icon-i-import:before {
  content: "\e908";
}
.icon-i-import-h:before {
  content: "\e909";
}
.icon-i-manager:before {
  content: "\e90a";
}
.icon-i-manager-h:before {
  content: "\e90b";
}
.icon-i-resume:before {
  content: "\e90c";
}
.icon-i-resume-h:before {
  content: "\e90d";
}
